# General
.DS_Store
Thumbs.db
*.bak
*.swp
*~

# IDEs / Tools
.vscode/
.idea/
*.suo
*.user
.vs/

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
joycon_mapping.json

# Node.js / Frontend
node_modules/
dist/
dist-electron/
out/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist*/

# Compiled builds / Output
*.exe
*.dll

# Rust
target/
target_build/

